.list-body-container {
    padding: 40px 30px;
}

.list-container{
    margin-top: 20px;
    border: 1px solid rgb(90, 90, 90, 0.5);
    box-shadow: 0 10px 10px rgba(33, 1, 2, 0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow-y: auto;
}

.list-title-container{
    border-bottom: 1px solid black;
    padding: 20px;

}

.small-column {
    width: 50px ;
    min-width: 50px;
}

.list-table {
    border-collapse: collapse;
    width: 100%;
    /* table-layout: fixed; Ensures table is responsive */
  }

  .list-table td,
  .list-table th {
    padding: 10px 5px;
    text-align: center; /* Center align for consistency */
    border: none;
  }

  .list-table th {
    font-size: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: #124076; /* Dark blue for header */
    color: white;
  }

  .list-table tbody tr:nth-child(odd) {
    background-color: #f0f0f0; /* Light gray for odd rows */
  }

  .list-table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
  }

  .list-table tbody tr:hover {
    background-color: #d1e7ff; /* Light blue on hover */
  }

  /* Responsive table for smaller screens */
  @media screen and (max-width: 600px) {
    .list-table {
      border: 0;
      box-shadow: none;
    }



    .list-table thead {
      display: none; /* Hide table header on small screens */
    }

    .list-table tbody tr {
      display: block;
      margin-bottom: 0.625em;
      border-bottom: 3px solid black;
    }

    .list-table tbody td {
      display: block;
      font-size: 0.8em;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }

    .list-table tbody td::before {
      content: attr(data-label); /* Add label before each cell for mobile */
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    .list-table tbody td:last-child {
      border-bottom: 0;
    }
  }

.list-container > div:nth-of-type(2) {
    padding: 10px;
}

.list-body-container > div:nth-of-type(1) {
    display: flex;
}


.search-input {
    opacity: 0.5;
    background-color: #D9D9D9;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-input-btn {
    background-color: #D9D9D9;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0 ;

}

 /* Responsive table for smaller screens */
 @media screen and (max-width: 600px) {
    .search-input {
        width: 200px;
    }
  }

