.dashboard-container {
   width: 250px;
   height: 150px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.dashboard-container > div:nth-of-type(1) {
    width: 7px;
    height: 100%;
}

.dashboard-container > div:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-container > div:nth-of-type(2) > div{
    display: flex;
}

.dashboard-container h4 {
     opacity: 0.5;;
     font-size: large;
     text-align: center;
}

@media (max-width: 600px) {

    .dashboard-container {
        width: 450px;
        height: 100px;
     }


}

