* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#guestLayout {
    min-height: 100vh;
}

.button-list {
    border: none;
    padding: 5px 20px;
    color: white;
    margin: 0 5px;
    transition: 0.3s;
}

.button-list:hover {
    opacity: 0.9;
}

.button-blue {
    background-color:#124076;

}

.button-red {
background-color:#761212;
}

.button-green {
    background-color:#365E32;

}

.button-orange {
    background-color:#DC5F00;

}

h1,h2,h3,h4,h5,h6, p {
    margin-bottom: 0;
}



.invalid-input {
    border: 1px solid red;
}



.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #29008a;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
    padding: 10px  !important;
    border: none !important;
    outline: 0 !important;
    border-radius: 0 !important;
    background-color: #124076 !important;
    color: white;
  }

  .accordion-button:focus {
    outline: 0 !important;
    border: none !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .accordion-body {
    padding: 0;
    background-color: #124076;
  }



  .button-disabled {
    background-color: #e9ecef; /* Light gray background */
    color: #6c757d; /* Gray text color */
    border: 1px solid #dee2e6; /* Light gray border */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

.custom-tooltip {
    position: fixed ; /* Use !important to override Bootstrap's default positioning */
}

.modal-90w {
    max-width: 90%;
}

.modal-80w {
    max-width: 80%;
}

.modal-60w {
    max-width: 50%;
}


@media only screen and (max-width: 680px) {
    .modal-60w, .modal-80w, .modal-90w {
        max-width: 100%;
    }
  }
